In [4]:
import pandas as pd

In [6]:
df = pd.read_pickle('tokyo.pkl')

In [34]:
ex = pd.ExcelFile('東京23区推移0406.xlsx')
input_sheet_name = ex.sheet_names
num_sheet = len(input_sheet_name)

df_list = []
for sheet in input_sheet_name:
    df_list.append(ex.parse(sheet, index_col=[0,1]))

df = pd.DataFrame()
for i in range(num_sheet):
    df = pd.concat([df, df_list[i]], axis=1)
 dlist = []
# dlist.append(df.columns[0])
# dlist.append(df.columns[1])
for d in df.columns:
    dlist.append(pd.Timestamp(d-25569, unit='D').strftime('%m/%d'))

df.columns = dlist

In [30]:
adr = pd.read_csv('address.csv')

In [31]:
adr = adr[['市区町村', 'longitude', 'latitude']]
adr = adr.rename(columns={'市区町村':'エリア'})
adr = adr.set_index('エリア')

In [34]:
adr.to_pickle('adr.pkl')

In [36]:
import plotly_express as px
GPS = px.data.carshare()
GPS.head()

   centroid_lat  centroid_lon    car_hours  peak_hour
0     45.471549    -73.588684  1772.750000          2
1     45.543865    -73.562456   986.333333         23
2     45.487640    -73.642767   354.750000         20
3     45.522870    -73.595677   560.166667         23
4     45.453971    -73.738946  2836.666667         19

In [7]:
df.index

MultiIndex(levels=[['世田谷区', '中央区', '中野区', '北区', '千代田区', '台東区', '品川区', '墨田区', '大田区', '文京区', '新宿区', '杉並区', '東京23区全体', '板橋区', '江戸川区', '江東区', '渋谷区', '港区', '目黒区', '練馬区', '荒川区', '葛飾区', '豊島区', '足立区'], ['住人', '全体', '来訪者']],
           labels=[[12, 12, 12, 4, 4, 4, 1, 1, 1, 17, 17, 17, 10, 10, 10, 9, 9, 9, 5, 5, 5, 7, 7, 7, 15, 15, 15, 6, 6, 6, 18, 18, 18, 8, 8, 8, 0, 0, 0, 16, 16, 16, 2, 2, 2, 11, 11, 11, 22, 22, 22, 3, 3, 3, 20, 20, 20, 13, 13, 13, 19, 19, 19, 23, 23, 23, 21, 21, 21, 14, 14, 14], [1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2, 1, 0, 2]],
           names=['エリア', '対象分類'])